@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");

body {
  background-color: #0f2c41;
  background-image: url("https://i.imgur.com/PFnfpkq.png");
  text-align: center;

}

h1 {
  margin: 10px 10px 20px 10px;
  font-size: 1.14rem;
  font-weight: bold;
}

.uptop {
  margin-top: -50px

}

.boda {border: thick double gray;}
.boda1 {border: thick double pink;}

#hello-wrapper {
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}

.typewriter {
  border-right: solid 5px transparent;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  animation:
  animated-text 1.0s steps(17, end) 1s 1 normal both
}

/*.btn*/

button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
button.btn:hover {
color: #ffffff;
}


/* text animation */
@keyframes animated-text {
  from {width: 0;}
  to {width: 100%;}
}
